In [8]:
from pandas_datareader import data as web 
import numpy as np
import pandas as pd
from datetime import datetime as dt
from datetime import timedelta
import yfinance

a = yfinance.download(tickers="GOOG",period="5d",interval="1m")

print(a)

[*********************100%***********************]  1 of 1 completed
                                  Open         High          Low        Close  \
Datetime
2022-03-14 09:30:00-04:00  2611.459961  2618.780029  2611.270020  2616.709961
2022-03-14 09:31:00-04:00  2615.770020  2616.409912  2611.892090  2614.534912
2022-03-14 09:32:00-04:00  2614.632568  2620.520020  2610.719971  2617.969971
2022-03-14 09:33:00-04:00  2617.000000  2617.000000  2612.860107  2613.000000
2022-03-14 09:34:00-04:00  2610.429932  2612.784912  2610.110107  2611.310059
...                                ...          ...          ...          ...
2022-03-18 15:56:00-04:00  2733.149902  2736.070068  2733.149902  2734.739990
2022-03-18 15:57:00-04:00  2732.820068  2733.669922  2730.675049  2731.600098
2022-03-18 15:58:00-04:00  2731.979980  2731.979980  2730.100098  2731.270020
2022-03-18 15:59:00-04:00  2731.679932  2738.270020  2731.540039  2736.550049
2022-03-18 16:00:00-04:00  2736.030029  2736.030029  2736.030029  2736.030029

                             Adj Close  Volume
Datetime
2022-03-14 09:30:00-04:00  2616.709961   35448
2022-03-14 09:31:00-04:00  2614.534912    3836
2022-03-14 09:32:00-04:00  2617.969971    4857
2022-03-14 09:33:00-04:00  2613.000000    2255
2022-03-14 09:34:00-04:00  2611.310059    5572
...                                ...     ...
2022-03-18 15:56:00-04:00  2734.739990   18312
2022-03-18 15:57:00-04:00  2731.600098   18267
2022-03-18 15:58:00-04:00  2731.270020   25605
2022-03-18 15:59:00-04:00  2736.550049   57927
2022-03-18 16:00:00-04:00  2736.030029       0

[1910 rows x 6 columns]